# Kconfig file for SDP v0.1.0

menu "SDP Configuration"

    rsource "espnow/Kconfig"
    config SDP_LOAD_BLE
    bool "Load Bluetooth libraries"
    help
        Set this option to tell SDP to load the Bluetooth library
    config SDP_LOAD_ESP_NOW
    bool "Load ESP-Now libraries"
    help
        Set this option to tell SDP to load the ESP-Now library
    config SDP_LOAD_GSM
        bool "Load GSM libraries"
        help
            Set this option to tell SDP to load the esp-modem GSM library
    config SDP_PEER_NAME_LEN
    int "Peer name length"
    default 16
    help
        The length of the sdp peer name. 

    config SDP_PEER_NAME
    string "The name of the peer"
    default "UNNAMEDPEER"
    help
        The name of the peer 
           
    

endmenu
