# Kconfig file for SDP v0.1.0

menu "SDP Configuration"


    config SDP_LOAD_BLE
    bool "Load Bluetooth libraries"
    help
        Set this option to tell SDP to load Bluetooth libraries
    config SDP_LOAD_ESP_NOW
    bool "Load ESP-Now libraries"
    help
        Set this option to tell SDP to load ESP-Now libraries

endmenu
